@import compass/reset
@import compass/css3
@import compass/utilities/general
@import partials/defaults
@import partials/fonts

a, a:hover
	color: #fff
	text-decoration: none

html, body
	margin: 0
	padding: 0
	overflow: hidden
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
	font-family: "Raleway", sans-serif

#superContainer
	height: 100%
	position: relative
	/* Touch detection for Windows 8
	-ms-touch-action: none
	/* IE 11 on Windows Phone 8.1
	touch-action: none

.section
	position: relative
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

.slide
	float: left
	height: 100%
	display: block

.slidesContainer
	height: 100%
	display: block

.slides
	height: 100%
	overflow: hidden
	position: relative
	-webkit-transition: all 0.3s ease-out
	-moz-transition: all 0.3s ease-out
	-o-transition: all 0.3s ease-out
	transition: all 0.3s ease-out

.section.table, .slide.table
	display: table
	width: 100%

.tableCell
	display: table-cell
	vertical-align: middle
	width: 100%
	height: 100%

.slidesContainer
	float: left
	position: relative

.controlArrow
	position: absolute
	top: 50%
	cursor: pointer
	width: 0
	height: 0
	border-style: solid
	margin-top: -38px
	&.prev
		left: 15px
		width: 0
		border-width: 38.5px 34px 38.5px 0
		border-color: transparent #fff transparent transparent
	&.next
		right: 15px
		border-width: 38.5px 0 38.5px 34px
		border-color: transparent transparent transparent #fff

.scrollable
	overflow: scroll

.easing
	-webkit-transition: all 0.7s ease-out
	-moz-transition: all 0.7s ease-out
	-o-transition: all 0.7s ease-out
	transition: all 0.7s ease-out

#fullPage-nav
	position: fixed
	z-index: 100
	margin-top: -32px
	top: 80px
	opacity: 1
	&.right
		right: 17px
	&.left
		left: -1px

.fullPage-slidesNav
	position: absolute
	z-index: 4
	left: 50%
	opacity: 1
	&.bottom
		bottom: 17px
	&.top
		top: 17px

#fullPage-nav ul, .fullPage-slidesNav ul
	margin: 0
	padding: 0

#fullPage-nav li
	display: block
	width: 14px
	height: 13px
	margin: 7px
	position: relative

.fullPage-slidesNav li
	display: block
	width: 14px
	height: 13px
	margin: 7px
	position: relative
	display: inline-block

#fullPage-nav li a, .fullPage-slidesNav li a
	display: block
	position: relative
	z-index: 1
	width: 100%
	height: 100%
	cursor: pointer
	text-decoration: none
	margin: 20px 0 

#fullPage-nav li .active span, .fullPage-slidesNav .active span
	background: #fff

#fullPage-nav span, .fullPage-slidesNav span
	top: 2px
	left: 2px
	width: 16px
	height: 16px
	border: 1px solid #fff
	background: rgba(0, 0, 0, 0)
	-webkit-border-radius: 50%
	-moz-border-radius: 50%
	border-radius: 50%
	position: absolute
	z-index: 1

.fullPage-tooltip
	position: absolute
	color: #fff
	font-size: 14px
	font-family: arial, helvetica, sans-serif
	top: -2px
	&.right
		right: 20px
	&.left
	left: 20px

#section0
	background: url(../img/one.jpg) no-repeat center center fixed
	+background-size(cover)
#section1
	background: url(../img/two.jpg) no-repeat center center fixed
	+background-size(cover)
#section2
	background: url(../img/three.jpg) no-repeat center center fixed
	+background-size(cover)
#section3
	background: url(../img/four.jpg) no-repeat center center fixed
	+background-size(cover)
#section4
	background: url(../img/five.jpg) no-repeat center center fixed
	+background-size(cover)



#main
	.main-container
		#fixed
			z-index: 10
			color: #fff
			position: relative
			top: 0
			margin: 0 auto
			width: 100%
			max-width: 210px
			.logo
				float: left
				h1
					font-weight: 300
					font-size: 40px
				h2
					font-weight: 100
					font-size: 35px
			.contact
				float: right
				font-size: 20px
				border: 4px solid #fff
				padding: 10px
				margin-top: 20px
		#fullpage
			z-index: 1
			.section
				color: #fff
				.INNER
					margin: 190px auto 0
					width: 100%
					max-width: 300px
					.icon, .content
						display: inline-table
						*display: inline
						zoom: 1
					.icon
						margin-right: 30px
						width: 90px
						text-align: right
						img
							width: 100%
						.full
							display: none
						h1
							font-size: 54px
							font-weight: 100
							text-align: right
							line-height: 50px
							//margin-top: 180px			
					.content
						width: 320px
						vertical-align: bottom
						h1
							font-weight: 300
							font-size: 52px
						p
							font-weight: 500
							font-size: 13px
							line-height: 26px
			#section0
				.INNER
					.content
						width: 300px
			#section4
				.footer
					height: 235px
					background: #e05941
					position: relative
					border-top: 5px solid #fff
					top: 206px
					display: none
					.inner
						margin: 0 auto
						width: 100%
						max-width: 965px
						font-size: 20px
						padding-top: 20px
						.left
							float: left
						.right
							float: right

@media only screen and (min-width: 480px)
	#main
		.main-container
			#fixed
				max-width: 400px
				.logo
					margin-top: 15px
					h1
						font-size: 30px
					h2
						font-size: 25px
			#fullpage
				.section
					.INNER
						max-width: 410px
						margin-top: 40px
						.icon
							width: 95px
							img
								width: 100%
							h1
								font-size: 76px
								line-height: 150px
						.content
							width: 280px
							h1
								font-size: 42px
							p
								font-size: 20px
				#section0
					.INNER .content
						width: 400px
						margin-top: -36px
						p
							font-size: 14px
							line-height: 19px								
				#section4
					.footer
						.inner
							max-width: 480px

@media only screen and (min-width: 768px)
	#main
		.main-container
			#fixed
				max-width: 698px
			#fullpage
				.section
					.INNER
						max-width: 768px
						.icon
							width: 235px
							h1
								font-size: 146px
							.mob
								display: none
							.full
								display: inline
						.content
							width: 410px
				#section0
					.INNER
						.content
							p
								font-size: 20px
								line-height: 46px
				#section4
					.footer
						display: block
						top: 242px
						.inner
							max-width: 768px
@media only screen and (min-width: 1028px)
	#main
		.main-container
			#fixed
				max-width: 970px
			#fullpage
				.section
					.INNER
						max-width: 935px
						.icon
							width: 385px
						.content
							width: 510px
				#section4
					.footer
						.inner
							max-width: 965px

//@import partials/media-queries
@import partials/print
